:root {
  --color-white: #fff;
  --color-accent: #2c3e50;
  --color-accent-light: #395066;
}

$sceeen-size-min: 300px;
$screen-size-small: 400px;
$screen-size-medium: 600px;
$screen-size-large: 1000px;